<div class="row custom-row">
    <div class="col-4" style="text-align: center" *ngFor="let opcion of opciones">
        <a (click)="elegir(opcion)">
            <img mat-card-image
                [ngClass]="{'imagen-selecionada': estaSeleccionada(opcion), 'imagen-seleccionable': !estaSeleccionada(opcion)}"
                src="{{opcion.src}}">
        </a>
    </div>
</div>
<div class="row custom-row">
    <div class="col-3"></div>
    <div class="col-6">
        <button mat-stroked-button color="primary" style="width: 100%" (click)="jugar()">Jugar</button>
    </div>
</div>
<div *ngIf="eleccion && eleccionMaquina" class="row custom-row">
    <div class="col-2"></div>
    <div class="col-3" style="text-align: center">
        <img mat-card-image 
        [ngClass]="{'imagen-ganadora': resultado == 1, 'imagen-perdedora': resultado == 0}"
        src="{{eleccion.src}}">
    </div>
    <div class="col-2" style="text-align: center">
        <h4 style="margin-top: 5em">{{getResultadoStr()}}</h4>
    </div>
    <div class="col-3" style="text-align: center">
        <img mat-card-image 
        [ngClass]="{'imagen-ganadora': resultado == 0, 'imagen-perdedora': resultado == 1}"
        src="{{eleccionMaquina.src}}">
    </div>

</div>