<app-cabecera> </app-cabecera>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">videogame_asset</mat-icon>
      <h4 class="media-heading">Juegos</h4>
    </ng-template>
    <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los
      estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien
      de los temas impartidos por los docentes utilizando el juego.</p>
      <app-menu-card></app-menu-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">bar_chart</mat-icon>
      <h4 class="media-heading">Listados de resultados</h4>           
    </ng-template>
    <p>Los listados de los resultados con ordenamiento y busqueda</p>

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon [icon]="faTools"></fa-icon>
      <h4 class="media-heading">Configuraci&oacute;n</h4>
    </ng-template>
    <p>Ajustes de la aplicacion y los métodos de autentificación</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <fa-icon [icon]="faUsers"></fa-icon>
      <h4 class="media-heading">Jugadores</h4>
    </ng-template>
    <p>Listado de jugadores</p>
    <app-jugadores-listado></app-jugadores-listado>
  </mat-tab>
</mat-tab-group>