<div class="container">
  <div class="jumbotron" style="padding:50px;">
    <form>
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104">
      </div>
      <div class="container">

        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="USUARIO" [(ngModel)]="usuario" name="user">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="CLAVE" [(ngModel)]="clave" name = "password">
        </mat-form-field>
      </div>
      <div>
          <button class="btnFooter" mat-raised-button color="primary"  (click)="Entrar()">Ingresar</button>
          <button class="btnFooter" mat-stroked-button color="primary" routerLink="/Registro">Registrarse</button>
      </div>
    </form>
  </div>
</div>