<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table table-condensed">
    <thead>
      <tr>
        <th>Jugador</th>
        <th>Juego</th>
        <th>Victorias</th>
        <th>Derrotas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rtdo of listado">
        <td>{{rtdo.usuario}} </td> 
        <td>{{rtdo.juego}} </td>
        <td>{{rtdo.victorias}} </td>   
        <td>{{rtdo.derrotas}} </td>   
      </tr>
     
    </tbody>
  </table>