<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sala de Juegos</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation"
    aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <!-- <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Inicio</a> -->

      <a class="nav-item nav-link">
        <fa-icon class="icon" [icon]="faUser"></fa-icon>
        <div style="display: inline;margin: 5px;" *ngIf="!loading; else loadingTemplate">{{user ? user.nombre : ''}} </div>
        <ng-template #loadingTemplate>
          <mat-spinner style="display: inline;" [diameter]="25"></mat-spinner>
        </ng-template>
      </a>


      <a (click)="logout()" class="nav-item nav-link" routerLink="/Login">
        <fa-icon class="icon" [icon]="faSignOutAlt"></fa-icon>
        Cerrar Sesion
      </a>
    </div>
  </div>
</nav>