<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Sala de Juegos</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <a (click)="toggleMenu()" class="nav-item nav-link" routerLink="" routerLinkActive="active">Inicio</a>

      <div class="nav-item dropdown" ngbDropdown >
        <a class="nav-link dropdown-toggle" id="dropdownSede" ngbDropdownToggle>Usuario</a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownSede">
          <a class="dropdown-item" routerLink="/Login">Iniciar Sesion</a>
          <a class="dropdown-item" routerLink="/Registro">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</nav>