<ngb-alert *ngIf="showAlert" [type]="alert.type" >{{ alert.message }}</ngb-alert>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <table>
      <tr>
        <td *ngFor="let item of palabra">
          {{item.letraElegida}}
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
    <div class="col-3"></div>
  <div class="col-6">
    <div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel *ngFor="let letra of letras">
        <input type="checkbox" ngbButton (change)="elegirLetra(letra,$event.target.checked)"> {{letra}}
      </label>
    </div>
  </div>
</div>
<div *ngIf="showAlert" class="row">
    <div class="col-3"></div>
  <div class="col-6">
      <button mat-raised-button color="primary" (click)="continue()">{{alert.action}}</button>
  </div>
</div>